.CharHoverEffect {
  will-change: transform;
  display: inline-block;
  position: relative;
  color: #E0E1E0;
  margin: 0 -2px;
  animation: animateCharOut 1s ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.CharHoverEffect:hover {
  cursor: default;
  animation: animateCharIn 1s ease;
  animation-iteration-count: 1;
}

@keyframes animateCharIn {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animateCharOut {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
