@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

.TitleSpacer {
  display: block;
  padding: 0;
  margin: 0;
  width: 0;
  height: 2rem;
}

.TitleSpacerDynamic {
  display: block;
  padding: 0;
  margin: 0;
  width: 0; 
  height: 10rem;
}

.HomeTitleTagLine {
  display: block;
  margin: 1rem 0;
  padding: 0;
  font-family: 'Marck Script';
  font-style: italic;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
  color: #595959;
}

.HomeTitle {
  font-family: 'Baloo Bhaina';
  font-size: 6rem;
  color: #E0E1E0;
  margin: 8rem 0 0 24rem;
  padding: 0;
}

.HomeDescr {
  font-family: monospace;
  font-size: 2rem;
  color: #919191;
}

.CharHoverLine {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 8rem;
}

.CharHoverEffect {
  display: inline-block;
  position: relative;
  color: #E0E1E0;
  margin: 0 -2px;
  padding: 0;
  transition: 0.75s ease-in;
  text-shadow: 0 0 0px #ff0000;
}

.CharHoverEffect:hover {
  cursor: default;
  color: #FFD900;
  transition: 0.25s linear;
  text-shadow: 0 0 64px #ff0000;
}

@media screen and (min-width: 1600px) {
  .HomeTitle {
    margin: 8rem 0 0 36rem;
  }
}

@media screen and (min-width: 1921px) {
  .HomeTitle {
    margin: 8rem 0 0 48rem;
  }
}

@media screen and (min-width: 2561px) {
  .HomeTitle {
    margin: 8rem 0 0 60rem;
  }
}

@media screen and (min-width: 3441px) {
  .HomeTitle {
    margin: 8rem 0 0 72rem;
  }
}

@media screen and (max-width: 980px) {
  .HomeTitle {
    margin: 3rem 0 0 8rem;
  }
  .TitleSpacerDynamic {
    height: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .HomeTitle {
    font-size: 4rem;
    margin: 2rem 0 0 8rem;
  }
  .HomeDescr {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 425px) {
  .HomeTitle {
    font-size: 3.5rem;
    /*letter-spacing: -0.2rem;*/
    margin: 2rem 0 0 2rem;
  }
}