.HomeTitle {
  font-family: 'Oleo Script Swash Caps';
  font-size: 7rem;
  color: #E0E1E0;
  margin: 24px 0 0 128px;
}

.HomeDescr {
  font-family: monospace;
  font-size: 2rem;
}

.CharHoverEffect {
  display: inline-block;
  position: relative;
  color: #E0E1E0;
  margin: 0 -2px;
  transition: 0.75s ease-in;
  text-shadow: 0 0 0px #ff0000;
}

.CharHoverEffect:hover {
  cursor: default;
  color: #FFD900;
  transition: 0.25s linear;
  text-shadow: 0 0 46px #ff0000;
}
