.LogoCubeTblStyle {
  border-collapse: collapse;
}

.LogoCubeSidetxt {
  position: absolute;
  color: #fbed4d;
  font-family: Lobster;
  font-size: 16rem;
  top: 5rem;
  left: 9rem;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.75);
  transition: 0.25s;
}

.LogoCubeSidetxtSmall {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.85);
  font-family: monospace;
  font-style: normal;
  font-size: 2.7rem;
  letter-spacing: -3px;
  top: 0rem;
  left: 0rem;
  padding: 0 0 0 1rem;
  opacity: 0;
  transition: 0.25s;
  text-shadow: 4px 4px 16px rgba(0,0,0,0.75);
  z-index: 300;
}
/*@media screen and (max-width: 1255px) {
  .LogoCubeSidetxtSmall:hover {
    opacity: 1;
  }
  .LogoCubeSidetxtSmall:hover + .LogoCubeSidetxt {
    opacity: 0;
  }
}*/

.LogoCubeSideBlue td,
.LogoCubeSideGreen td,
.LogoCubeSideYellow td,
.LogoCubeSideWhite td,
.LogoCubeSideRed td,
.LogoCubeSideOrange td {
  width: 254px;
  height: 254px;
}

.LogoCubeSideBlue td {
  background-color: #2271DC;
}

.LogoCubeSideGreen td {
  background-color: yellow;

}
.LogoCubeSideYellow td {
  background-color: #22B222;
}

.LogoCubeSideWhite td {
  background-color: #F5F5F5;
}

.LogoCubeSideRed td {
  background-color: #CC0D0D;
}

.LogoCubeSideOrange td {
  background-color: #E6400C;
}

.LogoCube {
  position: relative;
  float: right;
  width: 256px;
  height: 256px;
  padding: 0;
  top: 128px;
  left: -256px;
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(45deg);
}

.LogoCube * {
  box-sizing: border-box;
}

.LogoCubeSide {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid white;
  box-shadow: 0 0 100px rgba(190,255,128,0.4);
}

.SideTransformRed {
  transform: translateZ(128px);
}

.SideTransformOrange {
  transform: rotateY(180deg) translateZ(128px);
}

.SideTransformWhite {
  transform: rotateY(90deg) translateZ(128px);
}

.SideTransformYellow {
  transform: rotateY(-90deg) translateZ(128px);
}

.SideTransformGreen {
  transform: rotateX(90deg) translateZ(128px);
}

.SideTransformBlue {
  transform: rotateX(-90deg) translateZ(128px);
}

@media screen and (min-width: 1200px) {
  .LogoCubeSidetxtSmall:hover {
    opacity: 1;
  }
  .LogoCubeSidetxtSmall:hover + .LogoCubeSidetxt {
    opacity: 0;
  }
}

@media screen and (min-width: 1440px) {
  .LogoCube {
    left: -400px;
  }
}

@media screen and (min-width: 1921px) {
  .LogoCube {
    left: -600px;
  }
}

@media screen and (min-width: 2561px) {
  .LogoCube {
    left: -800px;
  }
}

@media screen and (min-width: 3441px) {
  .LogoCube {
    left: -1000px;
  }
}

@media screen and (max-width: 1200px) {
  .LogoCubeSidetxt {
    font-size: 8rem;
    top: 3rem;
    left: 5rem;
  }

  .LogoCubeSideBlue td,
  .LogoCubeSideGreen td,
  .LogoCubeSideYellow td,
  .LogoCubeSideWhite td,
  .LogoCubeSideRed td,
  .LogoCubeSideOrange td {
    width: 126px;
    height: 126px;
  }

  .LogoCube {
    width: 128px;
    height: 128px;
    left: -256px;
    top: 110px;
  }

  .SideTransformRed {
    transform: translateZ(64px);
  }

  .SideTransformOrange {
    transform: rotateY(180deg) translateZ(64px);
  }

  .SideTransformWhite {
    transform: rotateY(90deg) translateZ(64px);
  }

  .SideTransformYellow {
    transform: rotateY(-90deg) translateZ(64px);
  }

  .SideTransformGreen {
    transform: rotateX(90deg) translateZ(64px);
  }

  .SideTransformBlue {
    transform: rotateX(-90deg) translateZ(64px);
  }
}

@media screen and (max-width: 980px) {
  .LogoCube {
    top: 64px;
  }
}

@media screen and (max-width: 850px) {
  .LogoCube {
    left: -128px;
  }
}

@media screen and (max-width: 720px) {
  .LogoCube {
    left: -64px;
  }
}

@media screen and (max-width: 425px) {
  .LogoCubeSidetxt {
    font-size: 4rem;
    top: 1.5rem;
    left: 2.5rem;
  }

  .LogoCubeSideBlue td,
  .LogoCubeSideGreen td,
  .LogoCubeSideYellow td,
  .LogoCubeSideWhite td,
  .LogoCubeSideRed td,
  .LogoCubeSideOrange td {
    width: 63px;
    height: 63px;
  }

  .LogoCube {
    width: 64px;
    height: 64px;
    left: -44px;
    top: 64px;
  }

  .SideTransformRed {
    transform: translateZ(32px);
  }

  .SideTransformOrange {
    transform: rotateY(180deg) translateZ(32px);
  }

  .SideTransformWhite {
    transform: rotateY(90deg) translateZ(32px);
  }

  .SideTransformYellow {
    transform: rotateY(-90deg) translateZ(32px);
  }

  .SideTransformGreen {
    transform: rotateX(90deg) translateZ(32px);
  }

  .SideTransformBlue {
    transform: rotateX(-90deg) translateZ(32px);
  }
}
