@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');

html {
  font-size: 8px;
  cursor: default;
}

body {
  margin: 0;
  background-color: #171814;
}

.footer-spacer {
	display: block;
	height: 4rem;
}