.MainMenu {

}

.MainMenu__Menu {
  position: fixed;
  margin: 8px;
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #2196f4;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.IconMenu {
  margin: 10px;
}

.MainMenu__Home,
.MainMenu__Contacts,
.MainMenu__Experience,
.MainMenu__SelfProjects {
  position: fixed;
  margin: 8px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.25s;
}

.MainMenu__Home {
  top: 5px;
  left: 5px;
  background-color: #db483c;
}
.IconHome {
  margin: 11px;
}
.IconHomeShow {
  top: 80px;
  left: 5px;
  opacity: 1;
}

.MainMenu__Contacts {
  top: 5px;
  left: 5px;
  background-color: #DB993B;
}
.IconContacts {
  margin: 11px;
}
.IconContactsShow {
  top: 140px;
  left: 5px;
  opacity: 1;
}

.MainMenu__Experience {
  top: 5px;
  left: 5px;
  background-color: #4caf50;
}
.IconExperience {
  margin: 11px;
}
.IconExperienceShow {
  top: 200px;
  left: 5px;
  opacity: 1;
}

.MainMenu__SelfProjects {
  top: 5px;
  left: 5px;
  background-color: #9c27b0;
}
.IconSelfProjects {
  margin: 11px;
}
.IconSelfProjectsShow {
  top: 260px;
  left: 5px;
  opacity: 1;
}
