html {
  font-size: 8px;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1c17;
}

.FooterSpacer {
  display: block;
  height: 4rem;
}

.FrameContent {
  display: block;
  position: absolute;
  width: calc(100% - 52px);
  height: 100vh;
  top: 0;
  margin: 0 0 0 50px;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .FrameContent {
    margin: 50px 0 0 0;
    width: 100%;
  }
}