.MenuBar {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: #171814;
	border-right: 1px solid #808080;
	border-bottom: none;
	box-shadow: 12px 0 32px rgba(0,0,0,0.5);
}

.MenuBar__Button {
	display: block;
	background: transparent;
	border: none;
	padding: 0;
	margin: 8px;
}

.MenuBar__Button-active {
	fill: #43bdef;
}

.MenuBarIcon__Home,
.MenuBarIcon__Skills,
.MenuBarIcon__Projects,
.MenuBarIcon__Contacts {
	fill: #E0E1E0;
}

#typewriter {
	padding: 10px 50px;
}

.indent {
	width: 0;
	height: 30%;
}

@media screen and (max-width: 425px) {
	.MenuBar {
		width: 100%;
		height: auto;
		border-right: none;
		border-bottom: 1px solid #808080;
	}
	.MenuBar__Button {
	  display: inline-block;
  }
	.indent {
		display: inline-block;
		width: 25%;
	}
}