@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');

html {
  font-size: 8px;
  cursor: default;
}

body {
  margin: 50px 0 0 0;
  background-color: #fafafa;
}

.HomeTitle {
  font-family: 'Oleo Script Swash Caps';
  font-size: 6rem;
}
