.YButton {
	color: #E0E1E0;
	font-family: 'Courier New';
	font-size: 2rem;
	margin: 0;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 4px;
	background-color: transparent;
	transition: 0.75s ease-in;
  box-shadow: 0 0 0px #00FF00;
}

.YButton:hover {
  transition: 0.25s linear;
  box-shadow: 0 0 32px #00FF00, inset 0 0 16px #00FF00;
  background-color: #2EC22E;
  color: black;
  font-weight: bold;
  transform: scale(1.1,1.1);
}
